.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#action{
  background-image: url("./img.jpg");
}

.domain {
  stroke-width: 15;
  stroke: #67b6ba;
  }
  .tick line {
  stroke: white;
  stroke-width: 2;
  }
  .tick text {
  fill: #62b6e6;
  }
  .tick:nth-child(2n) line {
  stroke: #345434;
  stroke-width: 0.5;
  }
  .tick:nth-child(2n-1) text {
  fill: #4b7880;
  font-weight: 100;
  font-size: 150%;
  }